################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/SqlPassInstallWebApi/DesignTimeBuild/.dtbcache
/.vs/AlexaInstallerSqlPASS/v16/Server/sqlite3/storage.ide-wal
/.vs/AlexaInstallerSqlPASS/v16/Server/sqlite3/storage.ide-shm
/.vs/AlexaInstallerSqlPASS/v16/Server/sqlite3/storage.ide
/.vs/AlexaInstallerSqlPASS/v16/Server/sqlite3/db.lock
/.vs/AlexaInstallerSqlPASS/v16/.suo
/.vs/AlexaInstallerSqlPASS/DesignTimeBuild/.dtbcache
/SqlPassInstallerShared/obj/Debug/netcoreapp3.0/SqlPassInstallerShared.csprojAssemblyReference.cache
/SqlPassInstallerShared/obj/Debug/netcoreapp3.0/SqlPassInstallerShared.csproj.FileListAbsolute.txt
/SqlPassInstallerShared/obj/Debug/netcoreapp3.0/SqlPassInstallerShared.assets.cache
/SqlPassInstallerShared/obj/Debug/netcoreapp3.0/SqlPassInstallerShared.AssemblyInfoInputs.cache
/SqlPassInstallerShared/obj/Debug/netcoreapp3.0/SqlPassInstallerShared.AssemblyInfo.cs
/SqlPassInstallerShared/obj/Debug/netcoreapp2.1/SqlPassInstallerShared.pdb
/SqlPassInstallerShared/obj/Debug/netcoreapp2.1/SqlPassInstallerShared.dll
/SqlPassInstallerShared/obj/Debug/netcoreapp2.1/SqlPassInstallerShared.csprojAssemblyReference.cache
/SqlPassInstallerShared/obj/Debug/netcoreapp2.1/SqlPassInstallerShared.csproj.FileListAbsolute.txt
/SqlPassInstallerShared/obj/Debug/netcoreapp2.1/SqlPassInstallerShared.assets.cache
/SqlPassInstallerShared/obj/Debug/netcoreapp2.1/SqlPassInstallerShared.AssemblyInfoInputs.cache
/SqlPassInstallerShared/obj/Debug/netcoreapp2.1/SqlPassInstallerShared.AssemblyInfo.cs
/SqlPassInstallerShared/bin/Release/netcoreapp2.1/SqlPassInstallerShared.runtimeconfig.json
/SqlPassInstallerShared/bin/Release/netcoreapp2.1/SqlPassInstallerShared.runtimeconfig.dev.json
/SqlPassInstallerShared/bin/Release/netcoreapp2.1/SqlPassInstallerShared.pdb
/SqlPassInstallerShared/bin/Release/netcoreapp2.1/SqlPassInstallerShared.dll
/SqlPassInstallerShared/bin/Release/netcoreapp2.1/SqlPassInstallerShared.deps.json
/SqlPassInstallerShared/bin/Debug/netcoreapp3.0/SqlPassInstallerShared.deps.json
/SqlPassInstallerShared/bin/Debug/netcoreapp2.1/SqlPassInstallerShared.pdb
/SqlPassInstallerShared/bin/Debug/netcoreapp2.1/SqlPassInstallerShared.dll
/SqlPassInstallerShared/bin/Debug/netcoreapp2.1/SqlPassInstallerShared.deps.json
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux-arm/lib/netcoreapp2.1/System.Management.Automation.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux-arm/lib/netcoreapp2.1/Microsoft.PowerShell.Security.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux-arm/lib/netcoreapp2.1/Microsoft.PowerShell.SDK.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux-arm/lib/netcoreapp2.1/Microsoft.PowerShell.MarkdownRender.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux-arm/lib/netcoreapp2.1/Microsoft.PowerShell.CoreCLR.Eventing.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux-arm/lib/netcoreapp2.1/Microsoft.PowerShell.ConsoleHost.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux-arm/lib/netcoreapp2.1/Microsoft.PowerShell.Commands.Utility.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux-arm/lib/netcoreapp2.1/Microsoft.PowerShell.Commands.Management.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/runtimes/linux/lib/netcoreapp2.0/System.Data.Odbc.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/ru/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/pl/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/NJsonSchema.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/Microsoft.Win32.Registry.AccessControl.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.CSharp.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/Microsoft.ApplicationInsights.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/Markdig.Signed.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/ko/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/ja/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/it/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/fr/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/es/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/de/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/cs/Microsoft.CodeAnalysis.resources.dll
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/SqlPassInstallerShared/obj
/SqlPassInstallWebApi/obj
/SqlPassInstallWebApi/bin/Debug/netcoreapp3.0
/SqlPassInstallWebApi/AllHeaders
*.txt
/SqlPassInstallWebApi/LoginBody
/SqlPassInstallWebApi/LoginHeaders
